@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
  }
}

@layer utilities {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .section-padding {
    @apply py-16 md:py-24 lg:py-32;
  }
}